{{#*inline "content"}}

    <h4>{{title}}</h4>
    
    <p class="test">Current Votes</p>

    <button class="btn btn-primary" id="test-btn">Archive</button>
    <button class="btn" id="test-btn">Delete</button>



{{/inline}}

{{#*inline "additionalJs"}}
<script>

    // var page = new app.HomePageTest();
    // page.init();
    
    var page = app.route("/");

</script>
{{/inline}}


{{> layout/_master}}