{{#*inline "content"}}

    <h1>{{title}}</h1>
    
    <p class="test">Home page 4</p>

    <button id="test-btn">Test</button>



{{/inline}}

{{#*inline "additionalJs"}}
<script>

    // var page = new app.HomePageTest();
    // page.init();
    
    var page = app.route("/");

</script>
{{/inline}}


{{> layout/_master}}