<html>
    
{{#> header}}

    <head>
        <style src="assets/css/main.css"></style>
    </head>

{{/header}}

<body>

{{#> content}}

    this is in tpl-master

{{/content}}

{{#> footer}}

<footer>
    <span>Powered by Handlebars 3ef</span>
</footer>

{{/footer}}

  <script src="assets/app.bundle.js"></script>
  
</body>
</html>